<ion-app>
  <!-- 
    ion-menu: the sidenav is define here
    side="start": the position of menu is define to the left
    if u have multiple menu put the id inside the menu
    eg: <ion-menu menu="m1>
   -->
  <ion-menu side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Air BnB
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/places/tabs/discover">
            <ion-icon name="business" slot="start"></ion-icon>
            <ion-label>Discover places</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/bookings">
            <ion-icon name="checkbox-outline" slot="start"></ion-icon>
            <ion-label>Your Bookings</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <!-- <ion-item lines="none" (click)="onLogout()" button> : by adding  a button at the end of the tag make the ripple effect to happen -->
          <ion-item lines="none" (click)="onLogout()" button>
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet main></ion-router-outlet>
</ion-app>