<ion-header>
  <ion-toolbar>
    <ion-title padding>{{ selectedPlace.title}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button margin (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content text-center padding>
  <form #f="ngForm" (ngSubmit)="onBookPlace(f)">

    <ion-grid>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" [ngClass]="{'err': f.controls.firstName?.invalid && f.controls.firstName?.touched}">First Name</ion-label>
            <ion-input type="text" ngModel name="firstName" required></ion-input>
          </ion-item>
          <ion-item *ngIf="f.controls.firstName?.invalid && f.controls.firstName?.touched" lines="none">
            <div class="err">
              This is required
            </div>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" [ngClass]="{'err': f.controls.lastName?.invalid && f.controls.lastName?.touched}">Last Name</ion-label>
            <ion-input type="lastName" ngModel name="lastName" required></ion-input>
          </ion-item>
          <ion-item *ngIf="f.controls.lastName?.invalid && f.controls.lastName?.touched" lines="none">
            <div class="err">
              This is required
            </div>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" [ngClass]="{'err': f.controls.guestNumber?.invalid && f.controls.guestNumber?.touched}">Number of Guests</ion-label>
            <ion-select [ngModel]="'2'" name="guestNumber" required>
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="2">3</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="f.controls.guestNumber?.invalid && f.controls.guestNumber?.touched" lines="none">
            <div class="err">
              This is required
            </div>
          </ion-item>
        </ion-col>
      </ion-row> 

      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" [ngClass]="{'err': (f.controls.bookedFrom?.invalid || !datesValid() && f.controls.bookedTo?.dirty) && f.controls.bookedFrom?.touched }">From</ion-label>
            <ion-datetime 
            display-format="YYYY-MM-DD" 
            picker-format="YYYY MMM DD" 
            [min]="selectedPlace.availableFrom.toISOString()" 
            [max]="selectedPlace.availableTo.toISOString()" 
            [ngModel]="startDate" 
            name="bookedFrom" 
            #startDateCtrl="ngModel"
              required></ion-datetime>
          </ion-item>
          <ion-item *ngIf="f.controls.bookedFrom?.invalid && f.controls.bookedFrom?.touched" lines="none">
            <div class="err">
              This is required
            </div>
          </ion-item>
          <ion-item *ngIf="!datesValid() && f.controls.bookedFrom?.valid && f.controls.bookedTo?.dirty" lines="none">
              <div class="err">
                The start date must be before the end date
              </div>
            </ion-item>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col size-sm="3">
          <ion-item>
            <ion-label position="floating" [ngClass]="{'err': (f.controls.bookedTo?.invalid || !datesValid() && f.controls.bookedFrom?.dirty) && f.controls.bookedTo?.touched}">To</ion-label>
            <ion-datetime 
            display-format="YYYY-MM-DD" 
            picker-format="YYYY MMM DD" 
            [min]="startDateCtrl.value" 
            [max]="selectedPlace.availableTo.toISOString()" 
            [ngModel]="endDate" 
            name="bookedTo" 
            required>
          </ion-datetime>
          </ion-item>
          <ion-item *ngIf="f.controls.bookedTo?.invalid && f.controls.bookedTo?.touched" lines="none">
            <div class="err">
              This is required
            </div>
          </ion-item>
          <ion-item *ngIf="!datesValid() && f.controls.bookedTo?.valid && f.controls.bookedFrom?.dirty" lines="none">
            <div class="err">
              The end date must be after the start date
            </div>
          </ion-item>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button [disabled]="f.invalid || !datesValid()" color="primary" type="submit" expand="block" type="submit">
            Book!
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>

  </form>

</ion-content>